<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="programName" value="证书生成管理系统"/>
    <add key="companyName" value="吉林省延边州计量检定测试所"/>
    <add key="companyNameEng" value="Jilin Yanbian Institute of Verification and Testing "/>
    <add key="verificationNumber" value="(吉)法计(2008)030号"/>
    <add key="standard1" value="[2005]量标延考证字第728号"/>
    <add key="standard2" value="[2005]社量标延法证字第021号"/>
    <add key="telephone" value="0433-2661231"/>
    <add key="address" value="吉林省延吉市朝阳街2112号"/>
    <add key="addressEng" value="No.2112 ChaoYang St.Yanji,Jilin,China"/>
    <add key="email" value="faqldy001@yeah.net"/>
    <add key="fax" value="0433-2661231"/>
    <add key="zipcode" value="133000"/>
    <add key="freq_exam" value="12"/>
    <add key="freq_match" value="12"/>
    <add key="freq_test" value="12"/>
    <add key="appName" value=""/>
    <add key="DBType" value="offline"/>
    <add key="mdbFilePath" value=""/>
    <add key="sqlServerIPAddress" value=""/>
    <add key="sqlServerPort" value="1433"/>
      
  </appSettings>
  
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="DevComponents.Instrumentation" publicKeyToken="BC4A9D761EA44EF0" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-10.5.0.3" newVersion="10.5.0.3"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
